name: CI-CD_devoops 

on: 
  push:
    branches: [ ci-cd-test ]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - working-directory: ./devops_lab3
      - run: |
          sudo apt-get update
          sudo apt-get install -y python3
          python3 -m unittest test_main.py
  
          
          
